a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
}

.phone-container {
  width: 100%;
  max-width: 576px;
  min-width: 260px;
  height: 100%;
  background-image: url("./constants/assets/iphone-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper {
  width: 60%;
  min-width: 260px;
  position: relative;
}
.copyright {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: var(--shadow-elevation-medium);
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: black;
}
.developer {
  color: dodgerblue;
  margin-right: 10px;
  font-weight: 500;
}
